script(src='/static/jquery/dist/jquery.min.js')
script(src='/static/bootstrap/dist/js/bootstrap.min.js')
script(src='/static/adminlte/dist/js/app.min.js')
script(src="/static/adminlte//plugins/slimScroll/jquery.slimscroll.min.js")

script(src='/static/angular/angular.js')
script(src='/static/angular-ui/angular-ui-router.js')
script(src='/static/angular-1.4.3/src/ngResource/resource.js')
script(src='/socket.io/socket.io.js')

script(src='/static/javascripts/services.js')
script(src='/static/javascripts/controllers.js')
script(src='/static/javascripts/app.js')