doctype html
html(ng-app='polls')
  head
    include include/default_head   
  body.hold-transition.skin-blue-light.layout-boxed.sidebar-collapse.sidebar-mini(ng-controller="MainCtrl")
    .wrapper
      block header
        include include/default_header
      block aside
        include include/default_aside
      block content
      block footer
        include include/default_footer
    block scripts
      include include/default_scripts
//
      script.
        $('#test').slimScroll({
          color: '#00f',
          size: '10px',
          height: '592px',
          alwaysVisible: true

        });




